<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flymoon app</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body> 
    <h1>✈️ Flymoon <span id="targetIcon" onclick="toggleTarget();">-</span></h1>
    <h3 class="light-text">
        Target: <span id="targetLabel">-</span><span id="targetCoordinates"></span>
    </h3>

    <div class="center-div">
        <form class="form-container" action="">
            <div class="form-group">
                <label for="flatitude">Latitude</label>
                <input type="number" id="latitude" name="flatitude" autocomplete="on">
            </div>
            <div class="form-group">
                <label for="flongitude">Longitude</label>
                <input type="number" id="longitude" name="flongitude" autocomplete="on">
            </div>
            <div class="form-group">
                <label for="fevelation">Elevation</label>
                <input type="number" id="elevation" name="fevelation" autocomplete="on">
            </div>
        </form>
    </div>

    <button class="secondary" onclick="savePosition()">Save position</button>
    <button class="secondary" onclick="clearPosition()">Clear coords</button>
    <br>
    <button class="primary" onclick="go()">Go!</button>

    <div id="results">
        <table id="resultsTable">
            <thead>
                <tr>
                    <th>id</th>
                    <th>origin</th>
                    <th>destination</th>
                    <th>alt diff</th>
                    <th>az diff</th>
                    <th>ETA (min)</th>
                    <th>target alt</th>
                    <th>plane alt</th>
                    <th>target az</th>
                    <th>plane az</th>
                    <th>elev change</th>
                </tr>
            </thead>
            <tbody id="flightData">
            </tbody>
        </table>
    </div>
    <br>

    <h3 class="alert" id="noResults"></h3>

    <script src="{{ url_for('static', filename='app.js') }}" charset="utf-8"></script>

    <script>
        loadPosition();
    </script>
</body>
</html>